body { background-color: #fff; color: #333; }

body, p, ol, ul, td, input {
  font-family: helvetica, arial, sans-serif;
  font-size:   18px;
  line-height: 24px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
a.shortened { color: green; text-decoration: none; font-weight: bold;}
a.shortened:hover { background-color: green; color: white;}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

p.error {
  color: red;
}

label
{
  float: left;
  margin-left: 2em;
}

form input.forminput {
  width: 20em;
  margin-left: 2em;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

