<h1>Shorten a URL:</h1>

<form method="POST" action="/">
URL: <input type="text" name="url" value="http://" /><input type="submit" value="Shorten"/>
</form>

<script>
    document.forms[0].url.focus();
</script>
