<h1>Shorten a URL:</h1>

<form method="post" action="/">
URL: <input type="text" name="url" value="http://" /><input type="submit" value="Shorten"/>
</form>

<script type="text/javascript">
    document.forms[0].url.focus();
</script>
