<form method="post" action="/">
<p><label for="url">URL:</label><br/>
    <input class="forminput" type="text" name="url" id="url" value="http://" /> (required)</p>
<p><label for="short">Key:</label><br/>
    <input class="forminput" type="text" name="short" id="short" value="" /> (optional) <input type="submit" value="Shorten" /></p>
</form>

<script type="text/javascript">
  document.forms[0].url.focus();
</script>
