<form method="post" action="/">
<input class="forminput" type="url" name="url" id="url" value="http://" /><input class="forminput" type="text" name="short" id="short" value="" placeholder="Key (optional)" /> <input type="image" src="images/submit.png" alt="Submit button" class="submitbutton" />
</form>

<script type="text/javascript">
  document.forms[0].url.focus();
</script>
